HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
files/2024 YTD Revenue-Ali's Business.png
files/2023 T1 - Jeeeun Kim.pdf
files/Ali's CV.pdf
files/Ali-Questrade Balance (June 17, 2024).pdf
files/download.html
files/github-recovery-codes.txt
files/IMG_1395.HEIC
files/KIM MIN SUK (resume 초안).docx
files/Jinny_bankStatement_updated (1).pdf
files/Jinny_bankStatement_final_lowered.pdf
files/Jinny_bankStatement_final_corrected_lowered (1).pdf
files/Jinny_bankStatement_final_corrected.pdf
files/Jinny_bankStatement_final_corrected_lowered.pdf
